<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
</head>
<body>

<input type="hidden" th:value="${accountid}" id="accountid">
<table class="layui-hide" id="test" lay-filter="test"></table>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="frozencard">冻结</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="thawcard">解冻</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" href="">交易明细</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    var val = $("#accountid").val();
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: '/feign/findcard?accountid='+val
            // , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '银行卡信息表'
            , parseData: function (res) {
                return {
                    "code": 0,
                    "data": res.data.bankcards
                }
            }
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'bc_id', title: '编号', width: 80, fixed: 'left', unresize: true, sort: true}
                    // , {field: 'address', title: '地址', width: 120, edit: 'text',templet: function (res) {
                    //         return '<em>' + res.address + '</em>'
                    //     }}
                    // , {
                    //     field: 'birthday', title: '邮箱', width: 150, edit: 'text', templet: function (res) {
                    //         return '<em>' + res.birthday + '</em>'
                    //     }

                    // }
                    , {field: 'fk_account_id', title: '银行卡编号', width: 80, edit: 'text', sort: true}
                    , {field: 'bc_number', title: '银行卡账号', width: 180, edit: 'text', sort: true}
                    , {field: 'bc_money', title: '余额', width: 100, edit: 'text', sort: true}
                    , {field: 'bc_pwd', title: '密码', width: 80, edit: 'text', sort: true}
                    , {field: 'bc_quota', title: '限额', width: 100, edit: 'text', sort: true}
                    , {field: 'bc_states', title: '状态', width: 100, edit: 'text', sort: true}
                    , {field: 'bc_date', title: '办卡日期', width: 150, edit: 'text', sort: true}
                    , {field: 'bc_address', title: '开户网点', width: 150, edit: 'text', sort: true}
                    ,{field: 'fk_bc_bank', title: '所属银行', width: 150, edit: 'text', sort: true}

                    // , {field: 'city', title: '城市', width: 100}
                    // , {field: 'sign', title: '签名'}
                    // , {field: 'experience', title: '积分', width: 80, sort: true}
                    // , {field: 'ip', title: 'IP', width: 120}
                    // , {field: 'logins', title: '登入次数', width: 100, sort: true}
                    // , {field: 'joinTime', title: '加入时间', width: 120}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 220}
                ]
            ]
            , page: true
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'frozencard') {
                //console.log(data)
                this.href = "/feign/frozencard?bc_id=" + data.bc_id+"&fk_account_id="+data.fk_account_id;
            }
            if (obj.event === 'thawcard') {
                //console.log(data)
                this.href = "/feign/thawcard?bc_id=" + data.bc_id+"&fk_account_id="+data.fk_account_id;
            }
        });
    });
</script>
</body>
</html>